table.seminar tr th {
    background: #ebf1ee;
    text-align: center;
}

.dojo-bread div{
    float: left;
}

.dojo-bread .breadcrumb {
    margin-top: 2px;
    margin-left: 15px;
    margin-bottom: 0px;
    color:  #067564;    
}

.dojo-bread .breadcrumb>li+li:before {
    color:  #067564;
}

.dojo-detail div.title {
    background-color:  #ebf1ee;
    border-top: 1px solid #218e78;    
}

.dojo-detail div.title h4{
    margin: 25px 12px;
}

@media (min-width: 768px) {
    .dojo-detail table >tbody>tr>th {
        padding-left: 35px;
    }

    .dojo-detail table >tbody>tr>th, .dojo-detail table >tbody>tr>td {
        padding-bottom: 20px;
    }

    .dojo-detail div.map {
        padding-top: 25px;
    }
}

.dojo-detail div.map .sta.ggmap {
    padding-top: 0px;
    padding-bottom: 100%;
}


@media (max-width: 767px) {
    .dojo-detail div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .dojo-detail table >tbody>tr>th, .dojo-detail table >tbody>tr>td {
        display:block;
        float:left;
        padding-top: 0px;
    }

    .dojo-detail table >tbody>tr>th {
        padding-top: 10px;
    }

    .dojo-detail table >tbody>tr.bottom>th {
        border-bottom: 0px;
    }

    .dojo-detail table >tbody>tr>td {
/*  
        border-top:0px;
*/
        word-break: break-all;
    }
}

.dojo-btn a{
    padding: 15px 30px;
    letter-spacing: 2px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}


@media (max-width: 767px) {
    .dojo-btn a{
        width: 100%;
    }
}

/*****  スマホ修正分 2015.11 ここから *****/
@media (max-width: 767px) {
    .dojo-detail table >tbody>tr>td {
        padding-top: 10px;
    }

    .dojo-detail div.map .sta.ggmap.empty {
        padding-bottom: 0;
    }
}
/*****  スマホ修正分 2015.11 ここまで *****/