/* for customSelect (jquery) */
.customSelect {
    background-color: #8bc899;
    color: #fff;
    padding-top: 10px;
    text-align:center;
    text-align:-webkit-center;
}

.customSelectInner {
    background:url(/image/select_arrow.svg) no-repeat center right;
}

@media (min-width: 768px) {
    .customSelectInner {
        padding-right: 20px;
    }
}

/***** 沓掛追加分 *****/
ul.pagenation{
  list-style-type:none;
  
}
ul.pagenation li.first{
  text-align:left;
}
ul.pagenation li.second{
  text-align:right;
}

